@font-face {
  font-family: 'JetBrainsMonoNLNerdFontMono';
  src: url('./JetBrainsMonoNLNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  background-color: #24273a;
  color: #cad3f5;
  font-family: 'JetBrainsMonoNLNerdFontMono', 'JetBrains Mono', monospace;
  font-size: 25px;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  /* Remove margin */
  padding: 1em;
  /* Keep only padding */
  width: 100vw;
  /* Use viewport width */
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
  color: #c6a0f6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #f4dbd6;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 1em;
  min-width: 0;
  /* Remove min-width restriction */
  padding: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  /* Center the ul horizontally */
  padding: 0;
  white-space: nowrap;
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  /* Stack items vertically */
  align-items: center;
  /* Center items horizontally */
}

li:first-child {
  font-weight: bold;
  line-height: 2em;
  color: #f4dbd6;
}

img {
  border: 2px solid #cad3f5;
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  width: 10em;
  max-width: 100%;
  /* Prevents overflow */
}

input {
  background-color: unset;
  font: 1em 'JetBrainsMonoNLNerdFontMono', 'JetBrains Mono', monospace;
  color: #cad3f5;
  height: 100%;
  width: 100%;
  border-top-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-color: #c6a0f6;
  text-align: center;
  margin-top: 2em;
  /* Changed from 50px to 2em */
  outline: 0;
  padding-bottom: 0.5em;
}

/* Responsive styles */
@media (max-width: 700px) {
  html {
    font-size: 90%;
    /* Use relative font size */
    padding: 0;
  }

  body {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0.5em;
    width: 100vw;
  }

  nav {
    grid-template-columns: 1fr;
    min-width: 0;
    /* Ensure no min-width on small screens */
    padding: 0.5em 0;
    margin: 0;
  }

  img {
    width: 100%;
    max-width: 15em;
    /* Use em instead of px */
    margin: 0 auto;
    display: block;
  }

  input {
    font-size: 1em;
    margin-top: 1em;
    width: 90vw;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 80%;
  }

  img {
    max-width: 100%;
  }
}